<!--
  Generated template for the CreateBudgetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{category}} Expenses</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item-sliding *ngFor="let expense of categorizedExpenses">
            <button ion-item>
                <div style="display: table" col-12  >
                    <div col-6 style="display: table-cell; vertical-align: middle;">
                        <div style="text-align: left">{{ expense.date | date: mediumDate}} </div>
                        <div style="margin-right: 30px; color: grey; font-size: 1.3rem" *ngIf="expense.description">{{ expense.description }}</div>
                    </div>
                    <div col-6 style="display: table-cell; vertical-align: middle;">
                        <span style="float: right; margin-right: 30px">€ {{expense.amount}}</span>
                    </div>
                </div>
            </button>
            <ion-item-options (ionSwipe)="deleteExpense(expense)">
                <button ion-button expandable color="danger">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>
</ion-content>